@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    font-family: "Delius", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* font-style: normal; */
}

@keyframes stars {
    from {
        transform: translateX(0) translateY(0);
    }

    to {
        transform: translateX(-1000px) translateY(-1000px);
    }
}

.animate-stars {
    background: url("../../public/logo.png") repeat;
    animation: stars 50s linear infinite;
    opacity: 0.6;
}